%repairs-hub-link, .repairs-hub-link {
  color: repairs-hub-colour('housing-2');

  &:link {
    color: repairs-hub-colour('housing-2');
  }

  &:visited {
    color: repairs-hub-colour('housing-1');
  }
  &:hover {
    opacity: 0.7;
  }
}

.repairs-hub-link-no-visited {
  &:visited {
    color: repairs-hub-colour('housing-2');
  }
}

.repairs-hub-main-wrapper {
  a {
    @extend %repairs-hub-link;
  }
}
